@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../imagens/radio-tv.png") no-repeat;
}

audio#musica {
    display: block;
    position: relative;
    top: 500px;
    left: 575px;
    height: 35px;
}

video#filme {
    display: block;
    position: relative;
    top: 90px;
    left: 84px;
    width: 450px;
}